*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    list-style-type: none;
}

/*Ainda vou entender futuramente o significado dos itens

Não está adicionado o reset nesse html*/