body {
    background-color: #E1E2E1;
}

.cabecalho {
    padding: 10px 5px;
    background-color: #69F0AE;
}

.cabecalho .logo {
    display: inline-block;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    /* width: 900px; */
    min-width: 350px;
    max-width: 900px;
    margin: 0 auto;

    /* (Aqui o conteúdo de texto irá se ajustar ao tamanho na tela, ao indicar as propriedades min-width e max-width, ao diminuir a tela o texto irá se ajustando automaticamente para não ir para fora, já o atributo margin: 0 auto vai deixar o conteúdo do main centralizado) */
}

main .info {
    font-size: 18px;
}

main p {
    font-size: 16px;
}

.image img {
    width: 100%;

    /* (Para a imagem ficar corretamente dentro do elemento pai, que nesse caso é o main, e acompanhar a formatação do restante do conteúdo, define-se o width como 100% para a imagem obedecer a regra de formatação do pai) */
}

/* dispositivos extra pequenos (celulares em posição porta retrato, menores do que 576px) */
@media (max-width: 576px) {
    .cabecalho {
        text-align: center;
    }

    .cabecalho nav {
        float: none;
    }

    .cabecalho nav li {
        display: inline-block;
        display: block;
    }
}

/* dispositivos pequenos (celulares em posição paisagem, menos de 768px) */
@media (max-width: 768px) {

}

/* dispositivos médios (tablets, menos de 992px) */
@media (max-width: 992px) {

}

/* dispositivos grandes (desktops, menos de 1200px) */
@media (max-width: 1200px) {

}

/* dispositivos extra grandes (desktops grandes) 1200px ou mais, não tem breakpoin */
/* (A tag @media serve para definir um limite de responsividade e alterar as propriedades dentro desse limite específico) */
